body {
    font-family: monospace;
    padding: 5%;
}

header {
    text-align: center;
}

footer {
    margin-top: 45px;
    text-align: center;
}

section {
    margin-top: 45px;
}

.place {
    font-weight: bold;
}

.date {
    font-style: italic;
}

.description {
    font-size: 80%; 
}

#profile {
    width: 300px;
    height: 315px;
    align-self: center;
    padding: 10px;
    margin-bottom: 10px;
}